body{height: 1100px;
  background: url("http://i985.photobucket.com/albums/ae339/filosss2010/Filosssografia%202012/ESCF8322.jpg");
  background-repeat:  no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a:link, a:visited {
  color: white;
}

#text1 {padding-top: 50px;
    margin-left: 5%;
    color: #fff;
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
}
#text2 {padding-top: 10px;
    margin-left: 10%;
    color: #fff;
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
}

#buttons {width: 50%;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 10px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;;
}

.about {
  width: 700px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top:: 10px;
  margin-bottom: 200px;
  padding: 10px;
  background-color: #000;
  opacity: 0.6;
  border-radius: 15px;
  display: none;
  color: #fff;

}

p {margin:20px;
}
/*position: absolute;
   left: 100px;
   top: 150px;*/
iframe {margin: 50px 50px 0px 50px;
        height: 200px;
        width: 400px;
        background-color: #000;
        /*display:none;*/
}

#invisible-section {position: fixed;
                    bottom: 0;
                    width: 100%;
                    height: 200px;
                    overflow-y: scroll;
}

.main-button {
  width: 350px;
  margin-top: 10px;
  background-color: transparent;
  border-color: #fff;
  border-width: thin;
}

#hide-music-player {display:none;
                    background-color: transparent;
}

#close-text {background-color: transparent;}


/*mobile devices small screen*/

@media screen and (max-width: 568px) {
  #Main {height: 1200px;
    background: url("http://i985.photobucket.com/albums/ae339/filosss2010/Filosssografia%202012/ESCF8322.jpg");
    background-repeat:  no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  #text1 {padding-top: 10px;
      margin-left: 5%;
      color: #fff;
      /*font-family: 'Dancing Script', cursive;*/
      font-family: 'Cabin Sketch', cursive;
      font-size: 80px;
  }
  #text2 {padding-top: 5px;
      margin-left: 10%;
      color: #fff;
      /*font-family: 'Dancing Script', cursive;*/
      font-family: 'Cabin Sketch', cursive;
      font-size: 80px;
  }

  .about {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 200px;
    padding: 10px;
    background-color: #000;
    opacity: 0.6;
    border-radius: 15px;
    display: none;
    color: #fff;

  }

  p {margin:10px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    }
  /*position: absolute;
     left: 100px;
     top: 150px;*/
  iframe {margin: 50px 50px 0px 50px;
          background-color: #000;
          height: 20%;
          width: 60%;
          /*display:none;*/
  }

  #invisible-section {position: fixed;
                      bottom: 0;
                      width: screen;
  }

  .music {width: 40%;
      height: 40%;
      margin-right: 20px;
      padding: 10px;
      background-color: #fff;
      opacity: 0.3;
      border-radius: 15px;
      /*display: none;*/
      color: #000 ;
  }



  #about-button {width: 100%;

  }

  #music-button {width: 100%;

  }

  #hide-music-player {display:none;
                      background-color: transparent;
  }

  #close-text {background-color: transparent;}
